<nav>
    <label for="drop" class="toggle"><i class="fas fa-bars u-pull-right" aria-hidden="true"></i> <span class="logohead"><i class="oih-icon" aria-hidden="true"></i><span class="logotext">oih</span></span></label>
    <input type="checkbox" id="drop" />
    <ul class="menu">
        <li><a href="{{ .Site.BaseURL }}"><span class="logohead"><i class="oih-icon" aria-hidden="true"></i><span class="logotext">oih</span></span></a></li>
        {{ range .Site.Menus.nav }}
        <li class="u-pull-right">
            <a href="{{ .URL | absLangURL }}" class="Members">
                <span>{{ .Pre }} {{ .Name }}</span>
            </a>
        </li>
        {{ end }}
    </ul>
</nav>
